<form [formGroup]="form" (ngSubmit)="createData()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label>ID</mat-label>
          <input formControlName="id" matInput placeholder="1">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label>User ID</mat-label>
          <input formControlName="userId" matInput placeholder="001">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput placeholder="hello there..">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Body</mat-label>
          <textarea formControlName="body" rows="8" matInput placeholder="lorem ipsum dorem...."></textarea>
        </mat-form-field>
      </div>
      <div class="col-12">
        <button [disabled]="form.invalid"
          mat-raised-button color="primary"
                type="submit">
          Save Post</button>
      </div>
    </div>
  </div>
</form>
